<div class="card-container">

    <div class="card" style="overflow-y: auto;">
        
        <div class="card1">
            <app-create-product></app-create-product>
       
        </div>
        <div class="card2">
            <!-- <app-operations></app-operations> -->
        </div>
   
    </div>
    <div class="card" style="overflow-y: auto;">
     <app-all-products></app-all-products>
    </div>
    <div class="card" style="overflow-y: auto;">  
     <app-view-product></app-view-product>
    </div>
</div>

  